.wrapper {
  width: 100vw;
  height: 100vh;
}

.head {
  width: 100vw;
  height: 100px;
  background-color: #33CCFF;
  color: white;
  font-family: "Marion", sans-serif;
}

.center {
  height: calc(100vh -100px -100px);
  width: 100%;
  display: flex;
}

.left-side {
  width: 30vw;
  height: calc(100vh -100px -100px);
  border-right: solid 1px black;
}

.right-side {
  width: 70vw;
  height: calc(100vh -100px -100px);
}

.right-side-head {
  text-align: center;
}

.select-menu {
  padding-top: 10px;
  margin: 0px 100px;

}

.top-page-description {
  margin-top: 10px;
}

.right-side-body {
  padding: 100px 0px;
}

.right-side-foot {
  text-align: center;
  bottom: 0px;
}

footer {
  width: 100vw;
  height: 100px;
  text-align: center;
  border-top: solid 1px black;
}