.wrapper {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  height: calc(100% - 113px);
}

.left-side {
  width: 30vw;
  height: 100%;
  border-right: solid 1px black;
}

.right-side {
  width: 70vw;
  height: 100%;
  position: relative;
}

.foot {
  text-align: center;
  position: absolute;
  bottom: 0px;
}