.application-data-header {
  display: flex;
  justify-content: center;
  
}
.application-data-back {
  margin-right: 15px;
}

.application-data-save {
  margin-left: 15px;
}

.application-data-title {
  margin: 15px 0px 30px;
  display: flex;
  justify-content: center;
}

#application-data-title {
  border-bottom: 1px solid black;
}

.application-data-main {
  padding: 0px 0px 30px 100px;
}

.input-reason-date {
  display: flex;
}

.annotation {
  margin-top: 15px;
}