.header-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px black;
}

.title-area {
  height: 100px;
  text-align: center;
}

.top-right-area {
  position: absolute;
  height: 100px;
  right: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists-top-right {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.header-list {
  list-style: none;
  text-decoration: none;
}