.side-bar-wrapper {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.side-bar-list {
  position: relative;
  list-style: none;
}

.delete-mortgage-tip {
  display: none;
  width: 300px;
  position: absolute;
  top: -27px;
  left: 200px;
  color:white;
  background-color: cornflowerblue;
  border-radius: 5px;
}

.delete-mortgage-tip:after {
  left: 0px;
  bottom: 10px;
  margin-left: -20px;
  border: solid transparent;
  position: absolute;
  border-right-color: cornflowerblue;
  border-width: 10px;
  content: "";
}

.side-bar-list:hover .delete-mortgage-tip {
  display: block;
}

.side-bar {
  text-align: center;
}

.side-bar-list {
  padding: 15px 0px;
}

.side-bar-list-link {
  text-decoration: none;
}
