<header>
  <div class="header-wrapper">
    <div class="title-area">
      <h1 class="index-title">登記申請推進委員会</h1>
      <div class="index-subtitle">
        登記手続きの中には自分でできる簡単なものもあります。<br>
        節約のために本委員会と一緒に挑戦してみませんか？
      </div>
    </div>

    <div class="top-right-area">
      <ul class="lists-top-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "header-list" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-list" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: "header-list" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "header-list" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>