<div class="side_bar">
  <ul>
    <li class="menu" >手続一覧</li>
    <li><%= link_to "抵当権抹消登記", "#" %></li>
    <li><%= link_to "住所変更登記", "#" %></li>
    <li><%= link_to "相続による所有権移転登記", "#" %></li>
  </ul>
</div>