<div class="wrapper">
  <div class="head">
    <%= render "shared/header" %>
  </div>

  <div class="center">
    <div class="left-side">
      <%= render "shared/side_bar" %>
    </div>

    <div class="right-side">
      <div class="right-side-head">
        <h3>本サイトは、ご自身で登記申請される方をサポートいたします。
        </h3>
        <div>左のメニューバーからご希望の手続きをお選びください。
        </div>
      </div>
      <div class="right-side-foot">
        <p>本ソフトにより作成された申請書が法務局で受付されなかった場合でも、当方では責任を負いません。<br>
          誤入力による不備が多いので、入力には細心の注意を払ってください</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>