<div class="wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="center">
    <div class="left-side">
      <%= render "shared/side_bar" %>
    </div>

    <div class="right-side">
      <div class="right-side-head">
        <div class="select-menu">
          左のメニューバーからご希望の手続きをお選びください。
        </div>
        <div class="top-page-description">
          登記手続きは難しいものばかりと思われるかもしれませんが、<br>
          中にはご自身でも頑張ればできる比較的簡単なものもあります。<br>
          本サイトでは、その比較的簡単な登記手続きについてQ&A形式で<br>
          申請書ができあがるようにしてますので、是非ご活用してください！<br>
        </div>
      </div>

      <div class="right-side-body">
      </div>
      <div class="right-side-foot">
        恐れ入りますが、本サイトで作成した申請書が法務局で受付されなかった場合でも<br>
        当方では責任を負いません。<br>
        誤入力による不備が多いので、入力には細心の注意を払ってください。
      </div>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>