<div class="wrapper">
  <div class="head">
    <%= render "shared/header" %>
  </div>

  <div class="center">
    <div class="left-side">
      <%= render "shared/side_bar" %>
    </div>

    <div class="right-side">
      <h3>本サイトは、ご自身で登記申請される方をサポートいたします。
      </h3>
      <div>左のメニューバーからご希望の手続きをお選びください。
      </div>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>