<div class="operator-info-wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="operator-info-body">
    <div class="operator-info-main">
      <div class="operator-info-title">
       登記推進委員会
      </div>
      <div class="operator-info-table">
        <table border="1">
          <tr class="operator-info-tr">
            <th class="operator-info-item">運営者</th>
            <th class="operator-info-content">佐賀達也</th>
          </tr>
          <tr class="operator-info-tr">
            <td class="operator-info-item">経歴</td>
            <td class="operator-info-content">司法書士業務に9年ほど携わっていた元司法書士です。</td>
          </tr>
          <tr class="operator-info-tr">
            <td class="operator-info-item">メールアドレス</td>
            <td class="operator-info-content">t.saga@yahoo.ne.jp</td>
          </tr>
        </table>
      </div>
      <%= link_to "トップページに戻る", root_path %>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>